@font-face {
    font-family: 'Apestron';
    src: url('/fonts/Apestron.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofachrome';
    src: url('/fonts/sofachrome.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nextstep';
    src: url('/fonts/NEXTSTEP.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    --page-background-color: #fff;
    --background-card: #F4EFEA;
    --accent-color-1: #C27329;
    --accent-color-2: #408CC4;
    --accent-color-3: #B478A1;
    --text-color: #4D382C;
    --star-color: #4D382C;
}

body.dark-mode {
    --page-background-color: #0C1422;
    --background-card: #1F2639;
    --accent-color-1: #CC3E86;
    --accent-color-2: #ffe189;
    --accent-color-3: #747ec2;
    --text-color: #A2DFCE;
    --star-color: #ffe189;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--page-background-color);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-image: url("../images/seamless-noise-texture.jpg");
    opacity: 0.05;
    pointer-events: none;
}

li {
    list-style: none;
}

a {
    display: inline-block;
}

h1,
p,
a,
li {
    color: var(--text-color);
}

p,
a,
li {
    font-family: 'nextstep', 'sans-serif';
    font-weight: bold;
    font-size: 0.85rem;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    appearance: none;
    background: none;
}

.spin {
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    0% {
        transform: perspective(100rem) rotateY(0deg);
    }
    100% {
        transform: perspective(100rem) rotateY(360deg);
    }
}